@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,900&display=swap");

/* CSS reset */
* {
  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* Inicio Index */

body {
  font-family: "Lato", sans-serif;
}

/* Header */

.navbar {
  background-color: #e8e8e8;
  font-size: 1.2rem;
  padding: 0 2rem;
  width: 100%;
}

.navbar-brand:hover {
  color: #f54121;
  transition: 0.3s ease-in;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #f54d30;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f54d30;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo-text {
  display: inline-block;
  font-size: 1.2rem;
  padding: 1.2rem;
  margin: 0;
}

.navbar-collapse {
  justify-content: end;
}

.navbar-nav .active {
  color: #f54121 !important;
}

/* Fin header */

/* Footer */

footer {
  background-color: #e8e8e8;
  position: relative;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-row1 {
  padding: 1rem 2rem 0;
}

.footer-row2 {
  padding: 0 2rem;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-link li {
  padding: 0 2rem;
}

.footer-link a:hover {
  color: #f54121;
  transition: 0.3s ease-in;
}

.fa-brands:hover {
  color: #f54121;
  transition: 0.3s ease-in;
}

/* Fin footer */

/* Index */

main {
  background-color: #e8e8e8;
  width: 100%;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 69.38px;
  flex-wrap: wrap;
  width: 100%;
}
.banner-text {
  margin-top: 3rem;
  width: 100%;
  padding-left: 2rem;
  flex: 40%;
}

.banner-button {
  margin: 1.3rem auto;
  width: 50%;
  padding: 1rem;
  background-color: #f54121;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.banner-button:hover {
  box-shadow: -10px -10px rgba(0, 0, 0, 0.8);
  background-color: #fc5436;
  transition: all 0.4s ease-in-out;
  color: black;
}

.banner-button a:hover {
  color: black;
}

.banner-img {
  width: 100%;
  flex: 60%;
}

.banner-img:hover {
  filter: grayscale(80%);
  transition: all 0.4s ease-in;
}

.banner-img img {
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

/* Fin Index */

/* About */

.about_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.bio {
  width: 50%;
}

.img_about {
  max-width: 50%;
  height: auto;
}

/* Fin About */

/* Gallery */

.gallery-title {
  text-align: center;
  font-weight: bold;
  padding: 20px;
  margin-top: 69.38px;
}
.gallery-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-img {
  flex: 50%;
  padding: 0.5rem;
}

.gallery-img img {
  max-width: 100%;
  height: auto;
}

/* Fin Gallery */

/* Projects */

.project_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.project_text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  flex: 40%;
}

.img_project {
  max-width: 50%;
  height: auto;
  padding: 20px;
  flex: 60%;
}

.project {
  width: 50%;
}

/* Fin Projects */

/* Contact */
.contact_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact_img {
  width: 30%;
  height: auto;
  padding: 10px;
}
.input_box {
  display: block;
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.button_contact {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container_contact {
  width: 60%;
  height: ;
  border-radius: 5px;
  padding: 20px;
}
/* Fin Contacts */

/* Media Queries */

@media screen and (max-width: 576px) {
  .fa-brands {
    font-size: 0.875rem;
  }
  .footer-link a {
    font-size: 0.875rem;
  }
  .logo-text {
    font-size: 0.875rem;
  }
  .navbar-brand i {
    font-size: 1.25rem;
  }
  .nav-link {
    font-size: 0.875rem;
  }
  .banner-container {
    flex-direction: column;
  }
  .banner-text {
    text-align: center;
  }
  .gallery-img {
    flex: 100%;
  }
}

@media screen and (min-width: 992px) {
  .gallery-img {
    flex: 33.33%;
  }
}

/* Fin Media Queries */
