@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// Font family //
$main-font: "Lato", sans-serif;

// font-size //
$fs-xl: 1.8rem;
$fs-lg: 1.4rem;
$fs-m: 1.2rem;
$fs-s: 1rem;
$fs-xs: 0.875rem;

// font-weight //
$fw-300: 300;
$fw-400: 400;
$fw-700: 700;