.gallery-container {
    display: flex;
    flex-direction: column;
    margin-top: 53px;
    background: $clr-bg-main;
    width: 100%;
  }

.gallery-grid {
    @include grid;
    
    img {
        max-width: 100%;
      }
      img:hover {
        filter: grayscale(80%);
        transition: all 0.4s ease-in;
      }
}

.gallery-title{
    margin: 0 auto;
    padding-block: 2rem;
}