.margin-top {
    margin-top: 69.38px;
}

.banner-text {
    a {
        font-weight: $fw-700;
        text-decoration: none;

        &:hover {
            color: $clr-accent;
            transition: 0.3s ease-in;
        }
    }
}
