// index styling //
main {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.container-2-col {
    @include container;
    padding: 2rem;
    margin: 0 auto;
}

.margin-top {
    margin-top: 69.38px;
}

.clr-bg-main {
    background-color: $clr-bg-main;
}

.clr-bg-dark {
    background-color: $clr-bg-dark;
}

.banner-text {
    padding: 1rem;
    width: 100%;
    flex: 40%;
    max-width: 30rem;

    h2 {
        padding: 1rem;
        font-size: $fs-xl;
        text-transform: uppercase;

        @include respond(small) {
            font-size: $fs-lg;
        }
    }

    p {
        font-size: $fs-s;
        text-align: justify;
        text-justify: inter-word;

        @include respond(large) {
            font-size: $fs-m;
        }
    }

    @include respond(small) {
        text-align: center;
    }
}

.banner-img {
    max-width: 30rem;
    flex: 60%;
}

.banner-img:hover {
    filter: grayscale(80%);
    transition: all 0.4s ease-in;
}

.banner-img img {
    max-width: 100%;
    height: auto;
    padding: 1rem;
}

.index-container {
    display: flex;
    flex-direction: column;
    background: $clr-bg-main;
    width: 100%;

    h2 {
        font-size: $fs-xl;

        @include respond(small) {
            font-size: $fs-lg;
        }
    }
}

.index-grid {
    @include grid;

    img {
        max-width: 100%;
    }
    img:hover {
        filter: grayscale(80%);
        transition: all 0.4s ease-in;
    }
}

.index-title-grid {
    margin: 0 auto;
    padding-block: 2rem;
}

.button-index-gallery {
    max-width: 70rem;
}
